flows.json
[{"id":"bdec9868.38e518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"bdec9868.38e518","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"8f3bd816.2db208","type":"inject","z":"bdec9868.38e518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["c43a3f07.760ee"]]},{"id":"c43a3f07.760ee","type":"debug","z":"bdec9868.38e518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":240,"wires":[]}]